<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="l_body">
  <div class="container" id="container">
    <img src="./assets/img/5392447-ai.webp" class="logoContent" />
    <div class="form-container sign-up-container">
      <form action="#">
        <h1 class="headerText">Criar uma conta</h1>
        <span>use seu e-mail para cadastro</span>
        <input type="email" placeholder="Email" #userEmail required />
        <input type="password" placeholder="Senha" #userPwd required />
        <input type="button" class="buttonC" value="Entrar"
          (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form action="#">
        <h1 class="headerText">Entrar</h1>
        <input type="email" placeholder="Email" #userName required />
        <input type="password" placeholder="Senha" #userPassword required />
        <a href="/recuperarsenha">Esqueceu sua senha?</a>
        <input type="button" class="buttonC" value="Entrar"
          (click)="authService.SignIn(userName.value, userPassword.value)">
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 >Bem vindo!</h1>
          <p>Faça login com sua conta existente</p>
          <button class="ghost" id="signIn">Entrar</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 >Novo aqui?</h1>
          <p>Bem-vindo à ConsultaMED.</p>
          <button class="ghost" id="signUp">Inscrever-se</button>
        </div>
      </div>
    </div>
  </div>
  