<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="l_body">
    <div class="container" id="container">
        <img src="./assets/img/5392447-ai.webp" class="logoContent" />
        <div class="form-container sign-in-container">
            <form action="#">
                <p></p>
                <h1>Redefinir senha</h1>
                <span>Digite seu e-mail</span>
                <input type="email" placeholder="Email" #passwordResetEmail required />
                <p></p>
                <input type="button" class="buttonC" value="Reset"(click)="authService.ForgotPassword(passwordResetEmail.value)">
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Lembra da sua senha?</h1>
                    <p>Bem-vindo à ConsultaMED. Começa aqui</p>
                    <a href="/login" class="buttonL">Entrar</a>
                </div>
            </div>
        </div>
    </div>
