<!-- SignUp Component is not being Used -->
<div class="s_body">
    <div class="signupbox">
        <h1>Inscrever-se</h1>
        <form>
            <p>Nome de Usuário ou Email</p>
            <input type="text" name="" placeholder="Usuário ou Email" #userEmail required>
            <p>Senha</p>
            <input type="password" name="" placeholder="Senha" #userPwd required>
            <input type="submit" name="" value="Entrar" (click)="authService.SignUp(userEmail.value, userPwd.value)">
            <div>
            </div>
        </form>
    </div>
</div>
